/*buttons */
input[type="submit"], input[type="button"], #searchform_button, a.submit, #notice .singlebutton + .singlebutton input, .submit.buttons input[name="cancel"], #page-login-index2 .forgetpass a, .btn, input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input {
    background: [[setting:buttoncolour]];
    text-shadow: none;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.5) inset;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-size: 100% 200%;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px 8px;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -ie-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: [[setting:buttoncolour]];
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.5) inset;
    padding: 8px 15px 8px;
}

#notice .singlebutton + .singlebutton input, .submit.buttons input[name="cancel"] {
	text-shadow: none;
}

input[type="submit"]:hover, input[type="button"]:hover, #searchform_button:hover, a.submit:hover, #notice .singlebutton + .singlebutton input:hover, .submit.buttons input[name="cancel"]:hover,#page-login-index2 .forgetpass a:hover, .btn:hover, .btn:active {
    background-position: 0 -100%;
    text-decoration: none !important;
    color: #fff;
    background-color: [[setting:buttonhovercolour]];
}

input[type="submit"]:focus, input[type="button"]:focus, #searchform_button:focus, a.submit:focus, #notice .singlebutton + .singlebutton input:focus, .submit.buttons input[name="cancel"]:focus,#page-login-index2 .forgetpass a:focus, .btn:focus, .btn:focus {
    background-position: 0 -100%;
    text-decoration: none !important;
    color: #fff;
    background-color: [[setting:buttonhovercolour]];
}

button.close {
    background: transparent !important;
    text-shadow: none !Important;
    color: #000 !important;
    opacity: 1 !important;
    box-shadow: none !important;
}

#edittingbutton .btn {
    color: #FFF;
}

input.form-submit:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, input.form-submit:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus, input.form-submit:active, input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active, input.form-submit.active, input#id_submitbutton.active, input#id_submitbutton2.active, .path-admin .buttons input[type="submit"].active, td.submit input.active, input.form-submit.disabled, input#id_submitbutton.disabled, input#id_submitbutton2.disabled, .path-admin .buttons input[type="submit"].disabled, td.submit input.disabled, input.form-submit[disabled], input#id_submitbutton[disabled], input#id_submitbutton2[disabled], .path-admin .buttons input[type="submit"][disabled], td.submit input[disabled] {
    background-color: [[setting:buttonhovercolour]];
    color: #fff;
}